body{
	background-color: #ffffff;
}

.header-title {
	padding-top: 50px;
	margin-right: 15px;
	text-align: center;
	font-size: 50px;
	color: #000000;
	text-shadow: 2px 0px 10px #847373;
	font-weight: bold;
}
	
nav {
	padding-top: 50px;
	text-align: center;
}

.links {
	margin-top: 15px;
	text-align: center;
}

.image {
	margin-top: 40px;
	text-align: center;
}